<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="navbar-brand">{{ brandText }}</a>

                <li class="nav-item" *ngFor="let el of elements">
                    <a class="nav-link" [href]="el">{{ el }}</a>
                </li>

                <li class="nav-item dropdown" *ngIf="dropdownElements">
                    <a
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        (click)="dropdownOpened = !dropdownOpened"
                    >
                        {{ dropdownText }}
                    </a>

                    <ul
                        class="dropdown-menu"
                        [ngStyle]="{ display: dropdownOpened ? 'block' : 'none' }"
                        aria-labelledby="navbarDropdown"
                    >
                        <li>
                            <a class="dropdown-item" *ngFor="let dropdownEl of dropdownElements">{{ dropdownEl }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
