<div>
    <h4>Choose elements You would like to add to Your page.</h4>
    <h6>Available elements:</h6>

    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" id="navbarPreview" />
                <label class="ms-2 form-check-label" for="navbarPreview">
                    <img class="img-fluid" src="../../../../assets/components-preview/navbar-preview.png" alt="" />
                </label>
            </div>

            <div class="d-flex align-items-center">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" id="simpleTextSection" />
                <label class="ms-2 form-check-label" for="simpleTextSection">
                    <img class="img-fluid" src="../../../../assets/components-preview/simple-text-section.png" alt="" />
                </label>
            </div>
        </div>
    </div>
</div>
